<a href="https://colab.research.google.com/github/rendalamili/ml-for-table-extraction/blob/main/Copy_of_Model_Testing_and_Metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notes

Resources Used:

*   Python  - https://docs.python.org/3/contents.html

*   HTML  - https://www.w3schools.com/HTML/html_tables.asp & https://developer.mozilla.org/en-US/docs/Learn/HTML/Tables/Basics

*   HTML to PDF - https://templated.io/blog how-to-convert-html-to-pdf-with-python-pdfkit/

*   Tesseract - https://pypi.org/project/tesseract-ocr-utils/ & https://tesseract-ocr.github.io/ & https://pytesseract.readthedocs.io/en/latest/

*   LLama Parse - https://docs.cloud.llamaindex.ai/llamaparse/getting_started

*   BeautifulSoup - https://tedboy.github.io/bs4_doc/

# Table Creation and PDF Creation

In [ ]:
# To convert HTML to pdfs

!pip install pdfkit
!apt-get install -y wkhtmltopdf
import pdfkit

Requirement already satisfied: pdfkit in /usr/local/lib/python3.10/dist-packages (1.0.0)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
wkhtmltopdf is already the newest version (0.12.6-2).
0 upgraded, 0 newly installed, 0 to remove and 44 not upgraded.

## Table 1: Simple 3x3 Table

In [ ]:
from IPython.display import display, HTML

html_table1 = """
<table border="1">
  <tr><th>Name</th><th>Age</th><th>Country</th></tr>
  <tr><td>John</td><td>30</td><td>USA</td></tr>
  <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
</table>
"""
display(HTML(html_table1))

pdfkit.from_string(html_table1, 'Table 1: Simple 3x3 Table.pdf')

True

## Table 2: Table with Merged Header Cells

In [ ]:
html_table2 = """
<table border="1">
  <tr><th>Name</th><th colspan="2">Details</th></tr>
  <tr><td>John</td><td>Age: 30</td><td>Country: USA</td></tr>
  <tr><td>Jane</td><td>Age: 25</td><td>Country: Canada</td></tr>
</table>
"""
display(HTML(html_table2))

pdfkit.from_string(html_table2, 'Table 2: Table with Merged Header Cells.pdf')

True

## Table 3: Nested Table

In [ ]:
html_table3 = """
<table border="1">
  <tr><th>Name</th><th>Age</th><th>Details</th></tr>
  <tr>
    <td>John</td><td>30</td>
    <td>
      <table border="1">
        <tr><td>Country</td><td>USA</td></tr>
        <tr><td>City</td><td>New York</td></tr>
      </table>
    </td>
  </tr>
</table>
"""
display(HTML(html_table3))

pdfkit.from_string(html_table3, 'Table 3: Nested Table.pdf')

True

## Table 4: Table with Rowspan

In [ ]:
html_table4 = """
<table border="1">
  <tr><th rowspan="2">Name</th><th>Age</th><th>Country</th></tr>
  <tr><td>30</td><td>USA</td></tr>
  <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
</table>
"""
display(HTML(html_table4))

pdfkit.from_string(html_table4, 'Table 4: Table with Rowspan.pdf')

True

## Table 5: Table with 1 x Empty Cell

In [ ]:
html_table5 = """
<table border="1">
  <tr><th>Name</th><th>Age</th><th>Country</th></tr>
  <tr><td>John</td><td>30</td><td>USA</td></tr>
  <tr><td>Jane</td><td></td><td>Canada</td></tr>
</table>
"""
display(HTML(html_table5))

pdfkit.from_string(html_table5, 'Table 5: Table with 1 x Empty Cell.pdf')

True

## Table 6: Table with Complex Rowspan and Colspan

In [ ]:
html_table6 = """
<table border="1">
  <tr><th rowspan="2">Name</th><th colspan="2">Details</th></tr>
  <tr><td>Age</td><td>Country</td></tr>
  <tr><td>John</td><td>30</td><td>USA</td></tr>
  <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
</table>
"""
display(HTML(html_table6))

pdfkit.from_string(html_table6, 'Table 6: Table with Complex Rowspan and Colspan.pdf')

True

## Table 7: Large Table with Multiple Rows and Columns

In [ ]:
html_table7 = """
<table border="1">
  <tr><th>Name</th><th>Age</th><th>Country</th><th>Occupation</th><th>Salary</th></tr>
  <tr><td>John</td><td>30</td><td>USA</td><td>Engineer</td><td>$100,000</td></tr>
  <tr><td>Jane</td><td>25</td><td>Canada</td><td>Doctor</td><td>$150,000</td></tr>
  <tr><td>Tom</td><td>40</td><td>UK</td><td>Teacher</td><td>$50,000</td></tr>
</table>
"""
display(HTML(html_table7))

pdfkit.from_string(html_table7, 'Table 7: Large Table with Multiple Rows and Columns.pdf')

True

## Table 8: Table with Mixed Content

In [ ]:
html_table8 = """
<table border="1">
  <tr><th>Item</th><th>Description</th><th>Price</th></tr>
  <tr><td>Apple</td><td>Fresh red apple</td><td>$1</td></tr>
  <tr><td rowspan="2">Banana</td><td>Yellow banana</td><td>$0.5</td></tr>
  <tr><td>Green banana</td><td>$0.6</td></tr>
</table>
"""
display(HTML(html_table8))

pdfkit.from_string(html_table8, 'Table 8: Table with Mixed Content.pdf')

True

## Table 9: Table with Multiple Header Rows

In [ ]:
html_table9 = """
<table border="1">
  <tr><th colspan="3">Personal Information</th></tr>
  <tr><th>Name</th><th>Age</th><th>Country</th></tr>
  <tr><td>John</td><td>30</td><td>USA</td></tr>
  <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
</table>
"""
display(HTML(html_table9))

pdfkit.from_string(html_table9, 'Table 9: Table with Multiple Header Rows.pdf')

True

## Table 10: Table with Vertical Header

In [ ]:
html_table10 = """
<table border="1">
  <tr><th>Name</th><td>John</td></tr>
  <tr><th>Age</th><td>30</td></tr>
  <tr><th>Country</th><td>USA</td></tr>
</table>
"""
display(HTML(html_table10))

pdfkit.from_string(html_table10, 'Table 10: Table with Vertical Header.pdf')

True

# Testing Models

## Tesseract OCR

In [ ]:
!pip install pytesseract pdf2image
!apt-get install -y tesseract-ocr
!apt-get install -y poppler-utils

Collecting pytesseract
  Downloading pytesseract-0.3.13-py3-none-any.whl.metadata (11 kB)
Collecting pdf2image
  Downloading pdf2image-1.17.0-py3-none-any.whl.metadata (6.2 kB)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (24.1)
Requirement already satisfied: Pillow>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (9.4.0)
Downloading pytesseract-0.3.13-py3-none-any.whl (14 kB)
Downloading pdf2image-1.17.0-py3-none-any.whl (11 kB)
Installing collected packages: pytesseract, pdf2image
Successfully installed pdf2image-1.17.0 pytesseract-0.3.13
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  tesseract-ocr-eng tesseract-ocr-osd
The following NEW packages will be installed:
  tesseract-ocr tesseract-ocr-eng tesseract-ocr-osd
0 upgraded, 3 newly installed, 0 to remove and 44 not upgraded.
Need to get 4,816 kB of archives.
After this operation, 15.6 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 tesseract-ocr-eng all 1:4.00~git30-7274cfa-1.1 [1,591 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/universe amd64 tesseract-ocr-osd all 1:4.00~git30-7274cfa-1.1 [2,990 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/universe amd64 tesseract-ocr amd64 4.1.1-2.1build1 [236 kB]
Fetched 4,816 kB in 0s (11.5 MB/s)
Selecting previously unselected package tesseract-ocr-eng.
(Reading database ... 125864 files and directories currently installed.)
Preparing to unpack .../tesseract-ocr-eng_1%3a4.00~git30-7274cfa-1.1_all.deb ...
Unpacking tesseract-ocr-eng (1:4.00~git30-7274cfa-1.1) ...
Selecting previously unselected package tesseract-ocr-osd.
Preparing to unpack .../tesseract-ocr-osd_1%3a4.00~git30-7274cfa-1.1_all.deb ...
Unpacking tesseract-ocr-osd (1:4.00~git30-7274cfa-1.1) ...
Selecting previously unselected package tesseract-ocr.
Preparing to unpack .../tesseract-ocr_4.1.1-2.1build1_amd64.deb ...
Unpacking tesseract-ocr (4.1.1-2.1build1) ...
Setting up tesseract-ocr-eng (1:4.00~git30-7274cfa-1.1) ...
Setting up tesseract-ocr-osd (1:4.00~git30-7274cfa-1.1) ...
Setting up tesseract-ocr (4.1.1-2.1build1) ...
Processing triggers for man-db (2.10.2-1) ...
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  poppler-utils
0 upgraded, 1 newly installed, 0 to remove and 44 not upgraded.
Need to get 186 kB of archives.
After this operation, 696 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 poppler-utils amd64 22.02.0-2ubuntu0.5 [186 kB]
Fetched 186 kB in 0s (1,135 kB/s)
Selecting previously unselected package poppler-utils.
(Reading database ... 125911 files and directories currently installed.)
Preparing to unpack .../poppler-utils_22.02.0-2ubuntu0.5_amd64.deb ...
Unpacking poppler-utils (22.02.0-2ubuntu0.5) ...
Setting up poppler-utils (22.02.0-2ubuntu0.5) ...
Processing triggers for man-db (2.10.2-1) ...

In [ ]:
from pdf2image import convert_from_path
import pytesseract
from IPython.display import display, HTML

# List of PDF file paths
pdf_paths = [
    '/content/Table 1: Simple 3x3 Table.pdf',
    '/content/Table 2: Table with Merged Header Cells.pdf',
    '/content/Table 3: Nested Table.pdf',
    '/content/Table 4: Table with Rowspan',
    '/content/Table 5: Table with 1 x Empty Cell.pdf',
    '/content/Table 6: Table with Complex Rowspan and Colspan.pdf',
    '/content/Table 7: Large Table with Multiple Rows and Columns.pdf',
    '/content/Table 8: Table with Mixed Content.pdf',
    '/content/Table 9: Table with Multiple Header Rows.pdf',
    '/content/Table 10: Table with Vertical Header.pdf',
]

# List to store the HTML output of each PDF
model_htmls = []

# Loop through each PDF file
for pdf_path in pdf_paths:
    # Convert PDF to a list of images
    images = convert_from_path(pdf_path)

    # Initialise the HTML output for each PDF
    html_output = "<html><body>"

    # Process each page in the PDF
    for img in images:
        # Perform OCR on the image
        text = pytesseract.image_to_string(img)

        # Basic conversion of text to HTML
        lines = text.splitlines()
        html_output += "<table border='1'>"

        for line in lines:
            if line.strip():  # Skip empty lines
                html_output += "<tr>"
                cells = line.split()  # Split line into words, treating each as a cell
                for cell in cells:
                    html_output += f"<td>{cell}</td>"
                html_output += "</tr>"

        html_output += "</table><br>"

    # Close the HTML body and HTML tags
    html_output += "</body></html>"

    # Append the HTML output to the list, formatted as a multiline string
    model_htmls.append(f'''"""{html_output}"""''')

# Print the resulting model HTMLs
print("model_htmls = [")
for idx, html in enumerate(model_htmls):
    print(f"    {html},")
print("]")

model_htmls = [
    """<html><body><table border='1'><tr><td>Name</td><td>|Age</td><td>|Country</td></tr><tr><td>John|30</td><td>|USA</td></tr><tr><td>Jane/25</td><td>|Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Name</td></tr><tr><td>Details</td></tr><tr><td>John</td></tr><tr><td>Age:</td></tr><tr><td>30</td></tr><tr><td>Country:</td><td>USA</td></tr><tr><td>Country:</td><td>Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Name</td><td>|Age</td><td>Details</td></tr><tr><td>Country</td><td>|USA</td></tr><tr><td>John|30</td><td>:</td></tr><tr><td>City</td><td>New</td><td>York</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Age</td><td>|Country</td></tr><tr><td>30</td><td>|USA</td></tr><tr><td>Name</td></tr><tr><td>Jane/25</td><td>|Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Name</td><td>|Age</td><td>|Country</td></tr><tr><td>John|30</td><td>|USA</td></tr><tr><td>Jane</td><td>Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Details</td></tr><tr><td>Age</td><td>|Country</td></tr><tr><td>John|30</td><td>|USA</td></tr><tr><td>Name</td></tr><tr><td>Jane/25</td><td>|Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Name</td><td>|Age</td><td>[Country</td><td>|Occupation|</td><td>Salary</td></tr><tr><td>John|30</td><td>|USA</td><td>Engineer</td><td>[$100,000</td></tr><tr><td>Jane|25</td><td>|Canada</td><td>|Doctor</td><td>$150,</td><td>000</td></tr><tr><td>Tom</td><td>|40</td><td>|UK</td><td>Teacher</td><td>$50,000</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Item</td><td>Description</td><td>(Price</td></tr><tr><td>[Apple</td><td>|Fresh</td><td>red</td><td>apple/$1</td></tr><tr><td>Yellow</td><td>banana</td><td>|$0.5</td></tr><tr><td>Banana</td></tr><tr><td>Green</td><td>banana</td><td>$0.6</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Personal</td><td>Information</td></tr><tr><td>Name</td><td>|</td><td>Age</td><td>|</td><td>Country</td></tr><tr><td>John</td><td>|30</td><td>USA</td></tr><tr><td>Jane</td><td>|25</td><td>|Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Name</td><td>|John</td></tr><tr><td>Age</td><td>[30</td></tr><tr><td>Country</td></tr></table><br></body></html>""",
]

## Llama Parse

In [ ]:
!pip install llama-parse

Collecting llama-parse
  Downloading llama_parse-0.4.9-py3-none-any.whl.metadata (4.4 kB)
Collecting llama-index-core>=0.10.29 (from llama-parse)
  Downloading llama_index_core-0.11.0.post1-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: PyYAML>=6.0.1 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (6.0.2)
Requirement already satisfied: SQLAlchemy>=1.4.49 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy[asyncio]>=1.4.49->llama-index-core>=0.10.29->llama-parse) (2.0.32)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.6 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (3.10.5)
Collecting dataclasses-json (from llama-index-core>=0.10.29->llama-parse)
  Downloading dataclasses_json-0.6.7-py3-none-any.whl.metadata (25 kB)
Collecting deprecated>=1.2.9.3 (from llama-index-core>=0.10.29->llama-parse)
  Downloading Deprecated-1.2.14-py2.py3-none-any.whl.metadata (5.4 kB)
Collecting dirtyjson<2.0.0,>=1.0.8 (from llama-index-core>=0.10.29->llama-parse)
  Downloading dirtyjson-1.0.8-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (2024.6.1)
Collecting httpx (from llama-index-core>=0.10.29->llama-parse)
  Downloading httpx-0.27.0-py3-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: nest-asyncio<2.0.0,>=1.5.8 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (1.6.0)
Requirement already satisfied: networkx>=3.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (3.3)
Collecting nltk>3.8.1 (from llama-index-core>=0.10.29->llama-parse)
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: numpy<2.0.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (1.26.4)
Requirement already satisfied: pillow>=9.0.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (9.4.0)
Requirement already satisfied: pydantic<3.0.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (2.8.2)
Requirement already satisfied: requests>=2.31.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (2.32.3)
Collecting tenacity!=8.4.0,<9.0.0,>=8.2.0 (from llama-index-core>=0.10.29->llama-parse)
  Downloading tenacity-8.5.0-py3-none-any.whl.metadata (1.2 kB)
Collecting tiktoken>=0.3.3 (from llama-index-core>=0.10.29->llama-parse)
  Downloading tiktoken-0.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.66.1 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (4.66.5)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (4.12.2)
Collecting typing-inspect>=0.8.0 (from llama-index-core>=0.10.29->llama-parse)
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from llama-index-core>=0.10.29->llama-parse) (1.16.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core>=0.10.29->llama-parse) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core>=0.10.29->llama-parse) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core>=0.10.29->llama-parse) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core>=0.10.29->llama-parse) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core>=0.10.29->llama-parse) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core>=0.10.29->llama-parse) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core>=0.10.29->llama-parse) (4.0.3)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>3.8.1->llama-index-core>=0.10.29->llama-parse) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>3.8.1->llama-index-core>=0.10.29->llama-parse) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>3.8.1->llama-index-core>=0.10.29->llama-parse) (2024.5.15)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3.0.0,>=2.0.0->llama-index-core>=0.10.29->llama-parse) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3.0.0,>=2.0.0->llama-index-core>=0.10.29->llama-parse) (2.20.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->llama-index-core>=0.10.29->llama-parse) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->llama-index-core>=0.10.29->llama-parse) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->llama-index-core>=0.10.29->llama-parse) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->llama-index-core>=0.10.29->llama-parse) (2024.7.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.4.49->SQLAlchemy[asyncio]>=1.4.49->llama-index-core>=0.10.29->llama-parse) (3.0.3)
Collecting mypy-extensions>=0.3.0 (from typing-inspect>=0.8.0->llama-index-core>=0.10.29->llama-parse)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl.metadata (1.1 kB)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json->llama-index-core>=0.10.29->llama-parse)
  Downloading marshmallow-3.22.0-py3-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx->llama-index-core>=0.10.29->llama-parse) (3.7.1)
Collecting httpcore==1.* (from httpx->llama-index-core>=0.10.29->llama-parse)
  Downloading httpcore-1.0.5-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx->llama-index-core>=0.10.29->llama-parse) (1.3.1)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx->llama-index-core>=0.10.29->llama-parse)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.10/dist-packages (from marshmallow<4.0.0,>=3.18.0->dataclasses-json->llama-index-core>=0.10.29->llama-parse) (24.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio->httpx->llama-index-core>=0.10.29->llama-parse) (1.2.2)
Downloading llama_parse-0.4.9-py3-none-any.whl (9.4 kB)
Downloading llama_index_core-0.11.0.post1-py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 24.1 MB/s eta 0:00:00
Downloading Deprecated-1.2.14-py2.py3-none-any.whl (9.6 kB)
Downloading dirtyjson-1.0.8-py3-none-any.whl (25 kB)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 44.1 MB/s eta 0:00:00
Downloading tenacity-8.5.0-py3-none-any.whl (28 kB)
Downloading tiktoken-0.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 41.5 MB/s eta 0:00:00
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading dataclasses_json-0.6.7-py3-none-any.whl (28 kB)
Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 4.9 MB/s eta 0:00:00
Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 5.1 MB/s eta 0:00:00
Downloading marshmallow-3.22.0-py3-none-any.whl (49 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.3/49.3 kB 3.0 MB/s eta 0:00:00
Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 3.4 MB/s eta 0:00:00
Installing collected packages: dirtyjson, tenacity, nltk, mypy-extensions, marshmallow, h11, deprecated, typing-inspect, tiktoken, httpcore, httpx, dataclasses-json, llama-index-core, llama-parse
  Attempting uninstall: tenacity
    Found existing installation: tenacity 9.0.0
    Uninstalling tenacity-9.0.0:
      Successfully uninstalled tenacity-9.0.0
  Attempting uninstall: nltk
    Found existing installation: nltk 3.8.1
    Uninstalling nltk-3.8.1:
      Successfully uninstalled nltk-3.8.1
Successfully installed dataclasses-json-0.6.7 deprecated-1.2.14 dirtyjson-1.0.8 h11-0.14.0 httpcore-1.0.5 httpx-0.27.0 llama-index-core-0.11.0.post1 llama-parse-0.4.9 marshmallow-3.22.0 mypy-extensions-1.0.0 nltk-3.9.1 tenacity-8.5.0 tiktoken-0.7.0 typing-inspect-0.9.0

In [ ]:
# Import libraries
import os
import nest_asyncio
from llama_parse import LlamaParse

# Apply nest_asyncio to handle the running event loop issue
nest_asyncio.apply()

# Set the LlamaParse API key
os.environ["LLAMA_CLOUD_API_KEY"] = "llx-NpvdXIPyfgkbk3pnaAYJav3j8k97vOH7tGvSeHN5KsgOKoeN"

# List of PDF file paths
pdf_paths = [
    '/content/Table 1: Simple 3x3 Table.pdf',
    '/content/Table 2: Table with Merged Header Cells.pdf',
    '/content/Table 3: Nested Table.pdf',
    '/content/Table 4: Table with Rowspan',
    '/content/Table 5: Table with 1 x Empty Cell.pdf',
    '/content/Table 6: Table with Complex Rowspan and Colspan.pdf',
    '/content/Table 7: Large Table with Multiple Rows and Columns.pdf',
    '/content/Table 8: Table with Mixed Content.pdf',
    '/content/Table 9: Table with Multiple Header Rows.pdf',
    '/content/Table 10: Table with Vertical Header.pdf',
]

# Initialise LlamaParse
llama_parser = LlamaParse(result_type="markdown")

# List to store HTML outputs
model_htmls = []

# Function to convert model text to HTML table format
def convert_model_text_to_html(model_text):
    lines = model_text.strip().splitlines()
    html_output = "<html><body><table border='1'>"

    # Process each line
    for i, line in enumerate(lines):
        # Remove leading and trailing pipe symbols and split by '|'
        cells = line.strip('|').split('|')

        # Identify if it's a header or a row of data
        if i == 0:  # First line is header
            html_output += "<tr>"
            for cell in cells:
                html_output += f"<th>{cell.strip()}</th>"
            html_output += "</tr>"
        elif "---" in line:  # Skip the Markdown-like separator line
            continue
        else:  # Data rows
            html_output += "<tr>"
            for cell in cells:
                html_output += f"<td>{cell.strip()}</td>"
            html_output += "</tr>"

    html_output += "</table><br></body></html>"
    return html_output

# Process each PDF file
for pdf_path in pdf_paths:
    # Load the PDF file
    with open(pdf_path, 'rb') as f:
        pdf_content = f.read()

    # Extract the content from the PDF with extra_info containing the file name
    documents = llama_parser.load_data(pdf_content, extra_info={"file_name": os.path.basename(pdf_path)})

    # Initialise HTML output for the PDF
    for doc in documents:
        # Convert the extracted markdown-like text to HTML
        model_html = convert_model_text_to_html(doc.text)

        # Add the HTML output to the list, formatted as a string
        model_htmls.append(f'"""{model_html}"""')

# Print the resulting model HTMLs
print("model_htmls = [")
for idx, html in enumerate(model_htmls):
    print(f"    {html},")
print("]")

ImportError: cannot import name 'validator' from 'llama_index.core.bridge.pydantic' (/usr/local/lib/python3.10/dist-packages/llama_index/core/bridge/pydantic.py)

# Testing Metrics

## Structure

In [ ]:
!pip install beautifulsoup4

from bs4 import BeautifulSoup

def parse_html(html_content):
    """Parses HTML content and returns a BeautifulSoup object."""
    return BeautifulSoup(html_content, 'html.parser')

def compare_tables(model_html, ground_truth_html):
    """Compares the structure and content of tables in two HTML documents."""
    model_soup = parse_html(model_html)
    gt_soup = parse_html(ground_truth_html)

    model_tables = model_soup.find_all('table')
    gt_tables = gt_soup.find_all('table')

    total_tables = len(gt_tables)
    correct_tables = 0
    correct_rows = 0
    correct_cells = 0
    total_rows = 0
    total_cells = 0

    for i in range(min(len(model_tables), len(gt_tables))):
        model_table = model_tables[i]
        gt_table = gt_tables[i]

        model_rows = model_table.find_all('tr')
        gt_rows = gt_table.find_all('tr')

        if len(model_rows) == len(gt_rows):
            correct_tables += 1

        total_rows += len(gt_rows)

        for j in range(min(len(model_rows), len(gt_rows))):
            model_row = model_rows[j]
            gt_row = gt_rows[j]

            model_cells = model_row.find_all(['td', 'th'])
            gt_cells = gt_row.find_all(['td', 'th'])

            if len(model_cells) == len(gt_cells):
                correct_rows += 1

            total_cells += len(gt_cells)

            for k in range(min(len(model_cells), len(gt_cells))):
                if model_cells[k].get_text(strip=True) == gt_cells[k].get_text(strip=True):
                    correct_cells += 1

    # Safeguard against division by zero in case there are no tables or rows
    structure_accuracy = correct_tables / total_tables if total_tables > 0 else 0
    row_accuracy = correct_rows / total_rows if total_rows > 0 else 0
    cell_accuracy = correct_cells / total_cells if total_cells > 0 else 0

    return structure_accuracy, row_accuracy, cell_accuracy

# List of Ground Truth HTMLs
ground_truth_htmls = [
    #Table 1
    """<table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    #Table 2
    """
    <table border="1">
      <tr><th>Name</th><th colspan="2">Details</th></tr>
      <tr><td>John</td><td>Age: 30</td><td>Country: USA</td></tr>
      <tr><td>Jane</td><td>Age: 25</td><td>Country: Canada</td></tr>
    </table>
    """,
    # Table 3
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Details</th></tr>
      <tr>
        <td>John</td><td>30</td>
        <td>
          <table border="1">
            <tr><td>Country</td><td>USA</td></tr>
            <tr><td>City</td><td>New York</td></tr>
          </table>
        </td>
      </tr>
    </table>
    """,
    # Table 4
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 5
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td></td><td>Canada</td></tr>
    </table>
    """,
    # Table 6
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th colspan="2">Details</th></tr>
      <tr><td>Age</td><td>Country</td></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 7
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th><th>Occupation</th><th>Salary</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td><td>Engineer</td><td>$100,000</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td><td>Doctor</td><td>$150,000</td></tr>
      <tr><td>Tom</td><td>40</td><td>UK</td><td>Teacher</td><td>$50,000</td></tr>
    </table>
    """ ,
    # Table 8
    """
    <table border="1">
      <tr><th>Item</th><th>Description</th><th>Price</th></tr>
      <tr><td>Apple</td><td>Fresh red apple</td><td>$1</td></tr>
      <tr><td rowspan="2">Banana</td><td>Yellow banana</td><td>$0.5</td></tr>
      <tr><td>Green banana</td><td>$0.6</td></tr>
    </table>
    """ ,
    # Table 9
    """
    <table border="1">
      <tr><th colspan="3">Personal Information</th></tr>
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """ ,
    # Table 10
    """
    <table border="1">
      <tr><th>Name</th><td>John</td></tr>
      <tr><th>Age</th><td>30</td></tr>
      <tr><th>Country</th><td>USA</td></tr>
    </table>
    """
]

# List of Model HTMLs
model_htmls = [
   # ALL YOU NEED TO DO IS ADD IN YOUR OWN HTML OUTPUTS FROM YOUR MODELS
]

# Debugging issues: Ensure that the lengths of ground_truth_htmls and model_htmls are equal
assert len(ground_truth_htmls) == len(model_htmls), "Mismatch in the number of ground truth and model HTMLs."

# Lists to store accuracy values
structure_accuracies = []
row_accuracies = []
cell_accuracies = []


# Iterate over each pair of ground truth and model output
for i in range(len(ground_truth_htmls)):
    structure_acc, row_acc, cell_acc = compare_tables(model_htmls[i], ground_truth_htmls[i])
    print(f"Table {i+1}:")
    print(f"Structure Accuracy: {structure_acc:.2f}")
    print(f"Row Accuracy: {row_acc:.2f}")
    print(f"Cell Accuracy: {cell_acc:.2f}")
    print("-" * 40)

    structure_accuracies.append(structure_acc)
    row_accuracies.append(row_acc)
    cell_accuracies.append(cell_acc)

# Calculate mean averages
if structure_accuracies:
    mean_structure_acc = sum(structure_accuracies) / len(structure_accuracies)
    mean_row_acc = sum(row_accuracies) / len(row_accuracies)
    mean_cell_acc = sum(cell_accuracies) / len(cell_accuracies)

    # Print mean averages
    print("Mean Averages:")
    print(f"Mean Structure Accuracy: {mean_structure_acc:.2f}")
    print(f"Mean Row Accuracy: {mean_row_acc:.2f}")
    print(f"Mean Cell Accuracy: {mean_cell_acc:.2f}")
else:
    print("No tables were able to be processed.")

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.6)

AssertionError: Mismatch in the number of ground truth and model HTMLs.

## Tesseract OCR

In [ ]:
!pip install beautifulsoup4

from bs4 import BeautifulSoup

def parse_html(html_content):
    """Parses HTML content and returns a BeautifulSoup object."""
    return BeautifulSoup(html_content, 'html.parser')

def compare_tables(model_html, ground_truth_html):
    """Compares the structure and content of tables in two HTML documents."""
    model_soup = parse_html(model_html)
    gt_soup = parse_html(ground_truth_html)

    model_tables = model_soup.find_all('table')
    gt_tables = gt_soup.find_all('table')

    total_tables = len(gt_tables)
    correct_tables = 0
    correct_rows = 0
    correct_cells = 0
    total_rows = 0
    total_cells = 0

    for i in range(min(len(model_tables), len(gt_tables))):
        model_table = model_tables[i]
        gt_table = gt_tables[i]

        model_rows = model_table.find_all('tr')
        gt_rows = gt_table.find_all('tr')

        if len(model_rows) == len(gt_rows):
            correct_tables += 1

        total_rows += len(gt_rows)

        for j in range(min(len(model_rows), len(gt_rows))):
            model_row = model_rows[j]
            gt_row = gt_rows[j]

            model_cells = model_row.find_all(['td', 'th'])
            gt_cells = gt_row.find_all(['td', 'th'])

            if len(model_cells) == len(gt_cells):
                correct_rows += 1

            total_cells += len(gt_cells)

            for k in range(min(len(model_cells), len(gt_cells))):
                if model_cells[k].get_text(strip=True) == gt_cells[k].get_text(strip=True):
                    correct_cells += 1

    # Safeguard against division by zero in case there are no tables or rows
    structure_accuracy = correct_tables / total_tables if total_tables > 0 else 0
    row_accuracy = correct_rows / total_rows if total_rows > 0 else 0
    cell_accuracy = correct_cells / total_cells if total_cells > 0 else 0

    return structure_accuracy, row_accuracy, cell_accuracy

# List of Ground Truth HTMLs
ground_truth_htmls = [
    #Table 1
    """<table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    #Table 2
    """
    <table border="1">
      <tr><th>Name</th><th colspan="2">Details</th></tr>
      <tr><td>John</td><td>Age: 30</td><td>Country: USA</td></tr>
      <tr><td>Jane</td><td>Age: 25</td><td>Country: Canada</td></tr>
    </table>
    """,
    # Table 3
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Details</th></tr>
      <tr>
        <td>John</td><td>30</td>
        <td>
          <table border="1">
            <tr><td>Country</td><td>USA</td></tr>
            <tr><td>City</td><td>New York</td></tr>
          </table>
        </td>
      </tr>
    </table>
    """,
    # Table 4
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 5
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td></td><td>Canada</td></tr>
    </table>
    """,
    # Table 6
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th colspan="2">Details</th></tr>
      <tr><td>Age</td><td>Country</td></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 7
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th><th>Occupation</th><th>Salary</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td><td>Engineer</td><td>$100,000</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td><td>Doctor</td><td>$150,000</td></tr>
      <tr><td>Tom</td><td>40</td><td>UK</td><td>Teacher</td><td>$50,000</td></tr>
    </table>
    """ ,
    # Table 8
    """
    <table border="1">
      <tr><th>Item</th><th>Description</th><th>Price</th></tr>
      <tr><td>Apple</td><td>Fresh red apple</td><td>$1</td></tr>
      <tr><td rowspan="2">Banana</td><td>Yellow banana</td><td>$0.5</td></tr>
      <tr><td>Green banana</td><td>$0.6</td></tr>
    </table>
    """ ,
    # Table 9
    """
    <table border="1">
      <tr><th colspan="3">Personal Information</th></tr>
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """ ,
    # Table 10
    """
    <table border="1">
      <tr><th>Name</th><td>John</td></tr>
      <tr><th>Age</th><td>30</td></tr>
      <tr><th>Country</th><td>USA</td></tr>
    </table>
    """
]

# List of Model HTMLs
model_htmls = [
    """<html><body><table border='1'><tr><td>Name</td><td>|Age</td><td>|Country</td></tr><tr><td>John|30</td><td>|USA</td></tr><tr><td>Jane/25</td><td>|Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Name</td></tr><tr><td>Details</td></tr><tr><td>John</td></tr><tr><td>Age:</td></tr><tr><td>30</td></tr><tr><td>Country:</td><td>USA</td></tr><tr><td>Country:</td><td>Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Name</td><td>|Age</td><td>Details</td></tr><tr><td>Country</td><td>|USA</td></tr><tr><td>John|30</td><td>:</td></tr><tr><td>City</td><td>New</td><td>York</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Age</td><td>|Country</td></tr><tr><td>30</td><td>|USA</td></tr><tr><td>Name</td></tr><tr><td>Jane/25</td><td>|Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Name</td><td>|Age</td><td>|Country</td></tr><tr><td>John|30</td><td>|USA</td></tr><tr><td>Jane</td><td>Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Details</td></tr><tr><td>Age</td><td>|Country</td></tr><tr><td>John|30</td><td>|USA</td></tr><tr><td>Name</td></tr><tr><td>Jane/25</td><td>|Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Name</td><td>|Age</td><td>[Country</td><td>|Occupation|</td><td>Salary</td></tr><tr><td>John|30</td><td>|USA</td><td>Engineer</td><td>[$100,000</td></tr><tr><td>Jane|25</td><td>|Canada</td><td>|Doctor</td><td>$150,</td><td>000</td></tr><tr><td>Tom</td><td>|40</td><td>|UK</td><td>Teacher</td><td>$50,000</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Item</td><td>Description</td><td>(Price</td></tr><tr><td>[Apple</td><td>|Fresh</td><td>red</td><td>apple/$1</td></tr><tr><td>Yellow</td><td>banana</td><td>|$0.5</td></tr><tr><td>Banana</td></tr><tr><td>Green</td><td>banana</td><td>$0.6</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Personal</td><td>Information</td></tr><tr><td>Name</td><td>|</td><td>Age</td><td>|</td><td>Country</td></tr><tr><td>John</td><td>|30</td><td>USA</td></tr><tr><td>Jane</td><td>|25</td><td>|Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><td>Name</td><td>|John</td></tr><tr><td>Age</td><td>[30</td></tr><tr><td>Country</td></tr></table><br></body></html>""",
]

# Debugging issues: Ensure that the lengths of ground_truth_htmls and model_htmls are equal
assert len(ground_truth_htmls) == len(model_htmls), "Mismatch in the number of ground truth and model HTMLs."

# Lists to store accuracy values
structure_accuracies = []
row_accuracies = []
cell_accuracies = []


# Iterate over each pair of ground truth and model output
for i in range(len(ground_truth_htmls)):
    structure_acc, row_acc, cell_acc = compare_tables(model_htmls[i], ground_truth_htmls[i])
    print(f"Table {i+1}:")
    print(f"Structure Accuracy: {structure_acc:.2f}")
    print(f"Row Accuracy: {row_acc:.2f}")
    print(f"Cell Accuracy: {cell_acc:.2f}")
    print("-" * 40)

    structure_accuracies.append(structure_acc)
    row_accuracies.append(row_acc)
    cell_accuracies.append(cell_acc)

# Calculate mean averages
if structure_accuracies:
    mean_structure_acc = sum(structure_accuracies) / len(structure_accuracies)
    mean_row_acc = sum(row_accuracies) / len(row_accuracies)
    mean_cell_acc = sum(cell_accuracies) / len(cell_accuracies)

    # Print mean averages
    print("Mean Averages:")
    print(f"Mean Structure Accuracy: {mean_structure_acc:.2f}")
    print(f"Mean Row Accuracy: {mean_row_acc:.2f}")
    print(f"Mean Cell Accuracy: {mean_cell_acc:.2f}")
else:
    print("No tables were able to be processed.")

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.6)
Table 1:
Structure Accuracy: 1.00
Row Accuracy: 0.33
Cell Accuracy: 0.11
----------------------------------------
Table 2:
Structure Accuracy: 0.00
Row Accuracy: 0.00
Cell Accuracy: 0.12
----------------------------------------
Table 3:
Structure Accuracy: 0.50
Row Accuracy: 0.50
Cell Accuracy: 0.21
----------------------------------------
Table 4:
Structure Accuracy: 0.00
Row Accuracy: 0.33
Cell Accuracy: 0.12
----------------------------------------
Table 5:
Structure Accuracy: 1.00
Row Accuracy: 0.33
Cell Accuracy: 0.22
----------------------------------------
Table 6:
Structure Accuracy: 0.00
Row Accuracy: 0.25
Cell Accuracy: 0.10
----------------------------------------
Table 7:
Structure Accuracy: 1.00
Row Accuracy: 0.75
Cell Accuracy: 0.25
----------------------------------------
Table 8:
Structure Accuracy: 0.00
Row Accuracy: 0.50
Cell Accuracy: 0.18
----------------------------------------
Table 9:
Structure Accuracy: 1.00
Row Accuracy: 0.50
Cell Accuracy: 0.40
----------------------------------------
Table 10:
Structure Accuracy: 1.00
Row Accuracy: 0.67
Cell Accuracy: 0.50
----------------------------------------
Mean Averages:
Mean Structure Accuracy: 0.55
Mean Row Accuracy: 0.42
Mean Cell Accuracy: 0.22

## LlamaParse

In [ ]:
!pip install beautifulsoup4

from bs4 import BeautifulSoup

def parse_html(html_content):
    """Parses HTML content and returns a BeautifulSoup object."""
    return BeautifulSoup(html_content, 'html.parser')

def compare_tables(model_html, ground_truth_html):
    """Compares the structure and content of tables in two HTML documents."""
    model_soup = parse_html(model_html)
    gt_soup = parse_html(ground_truth_html)

    model_tables = model_soup.find_all('table')
    gt_tables = gt_soup.find_all('table')

    total_tables = len(gt_tables)
    correct_tables = 0
    correct_rows = 0
    correct_cells = 0
    total_rows = 0
    total_cells = 0

    for i in range(min(len(model_tables), len(gt_tables))):
        model_table = model_tables[i]
        gt_table = gt_tables[i]

        model_rows = model_table.find_all('tr')
        gt_rows = gt_table.find_all('tr')

        if len(model_rows) == len(gt_rows):
            correct_tables += 1

        total_rows += len(gt_rows)

        for j in range(min(len(model_rows), len(gt_rows))):
            model_row = model_rows[j]
            gt_row = gt_rows[j]

            model_cells = model_row.find_all(['td', 'th'])
            gt_cells = gt_row.find_all(['td', 'th'])

            if len(model_cells) == len(gt_cells):
                correct_rows += 1

            total_cells += len(gt_cells)

            for k in range(min(len(model_cells), len(gt_cells))):
                if model_cells[k].get_text(strip=True) == gt_cells[k].get_text(strip=True):
                    correct_cells += 1

    # Safeguard against division by zero in case there are no tables or rows
    structure_accuracy = correct_tables / total_tables if total_tables > 0 else 0
    row_accuracy = correct_rows / total_rows if total_rows > 0 else 0
    cell_accuracy = correct_cells / total_cells if total_cells > 0 else 0

    return structure_accuracy, row_accuracy, cell_accuracy

# List of Ground Truth HTMLs
ground_truth_htmls = [
    #Table 1
    """<table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    #Table 2
    """
    <table border="1">
      <tr><th>Name</th><th colspan="2">Details</th></tr>
      <tr><td>John</td><td>Age: 30</td><td>Country: USA</td></tr>
      <tr><td>Jane</td><td>Age: 25</td><td>Country: Canada</td></tr>
    </table>
    """,
    # Table 3
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Details</th></tr>
      <tr>
        <td>John</td><td>30</td>
        <td>
          <table border="1">
            <tr><td>Country</td><td>USA</td></tr>
            <tr><td>City</td><td>New York</td></tr>
          </table>
        </td>
      </tr>
    </table>
    """,
    # Table 4
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 5
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td></td><td>Canada</td></tr>
    </table>
    """,
    # Table 6
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th colspan="2">Details</th></tr>
      <tr><td>Age</td><td>Country</td></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 7
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th><th>Occupation</th><th>Salary</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td><td>Engineer</td><td>$100,000</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td><td>Doctor</td><td>$150,000</td></tr>
      <tr><td>Tom</td><td>40</td><td>UK</td><td>Teacher</td><td>$50,000</td></tr>
    </table>
    """ ,
    # Table 8
    """
    <table border="1">
      <tr><th>Item</th><th>Description</th><th>Price</th></tr>
      <tr><td>Apple</td><td>Fresh red apple</td><td>$1</td></tr>
      <tr><td rowspan="2">Banana</td><td>Yellow banana</td><td>$0.5</td></tr>
      <tr><td>Green banana</td><td>$0.6</td></tr>
    </table>
    """ ,
    # Table 9
    """
    <table border="1">
      <tr><th colspan="3">Personal Information</th></tr>
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """ ,
    # Table 10
    """
    <table border="1">
      <tr><th>Name</th><td>John</td></tr>
      <tr><th>Age</th><td>30</td></tr>
      <tr><th>Country</th><td>USA</td></tr>
    </table>
    """
]

# List of Model HTMLs
model_htmls = [
    """<html><body><table border='1'><tr><th>Name</th><th>Age</th><th>Country</th></tr><tr><td>John</td><td>30</td><td>USA</td></tr><tr><td>Jane</td><td>25</td><td>Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><th>Name</th><th>Details</th></tr><tr><td>John</td><td>Age: 30 Country: USA</td></tr><tr><td>Jane</td><td>Age: 25 Country: Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><th>Name</th><th>Age</th><th>Details</th></tr><tr><td>John</td><td>30</td><td>Country: USA City: New York</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><th>Name</th><th>Age</th><th>Country</th></tr><tr><td>John</td><td>30</td><td>USA</td></tr><tr><td>Jane</td><td></td><td>Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><th>Name</th><th>Age</th><th>Country</th></tr><tr><td>John</td><td>30</td><td>USA</td></tr><tr><td>Jane</td><td></td><td>Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><th>Name</th><th>Age</th><th>Country</th><th>Details</th></tr><tr><td>John</td><td>30</td><td>USA</td><td></td></tr><tr><td>Jane</td><td>25</td><td>Canada</td><td></td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><th>Name</th><th>Age</th><th>Country</th><th>Occupation</th><th>Salary</th></tr><tr><td>John</td><td>30</td><td>USA</td><td>Engineer</td><td>$100,000</td></tr><tr><td>Jane</td><td>25</td><td>Canada</td><td>Doctor</td><td>$150,000</td></tr><tr><td>Tom</td><td>40</td><td>UK</td><td>Teacher</td><td>$50,000</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><th>Item</th><th>Description</th><th>Price</th></tr><tr><td>Apple</td><td>Fresh red apple</td><td>$1</td></tr><tr><td>Banana</td><td>Green banana Yellow banana</td><td>$0.5 $0.6</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><th>Name</th><th>Age</th><th>Country</th></tr><tr><td>John</td><td>30</td><td>USA</td></tr><tr><td>Jane</td><td>25</td><td>Canada</td></tr></table><br></body></html>""",
    """<html><body><table border='1'><tr><th>Name</th><th>John</th></tr><tr><td>Age</td><td>30</td></tr><tr><td>Country</td><td>USA</td></tr></table><br></body></html>""",
]

# Debugging issues: Ensure that the lengths of ground_truth_htmls and model_htmls are equal
assert len(ground_truth_htmls) == len(model_htmls), "Mismatch in the number of ground truth and model HTMLs."

# Lists to store accuracy values
structure_accuracies = []
row_accuracies = []
cell_accuracies = []


# Iterate over each pair of ground truth and model output
for i in range(len(ground_truth_htmls)):
    structure_acc, row_acc, cell_acc = compare_tables(model_htmls[i], ground_truth_htmls[i])
    print(f"Table {i+1}:")
    print(f"Structure Accuracy: {structure_acc:.2f}")
    print(f"Row Accuracy: {row_acc:.2f}")
    print(f"Cell Accuracy: {cell_acc:.2f}")
    print("-" * 40)

    structure_accuracies.append(structure_acc)
    row_accuracies.append(row_acc)
    cell_accuracies.append(cell_acc)

# Calculate mean averages
if structure_accuracies:
    mean_structure_acc = sum(structure_accuracies) / len(structure_accuracies)
    mean_row_acc = sum(row_accuracies) / len(row_accuracies)
    mean_cell_acc = sum(cell_accuracies) / len(cell_accuracies)

    # Print mean averages
    print("Mean Averages:")
    print(f"Mean Structure Accuracy: {mean_structure_acc:.2f}")
    print(f"Mean Row Accuracy: {mean_row_acc:.2f}")
    print(f"Mean Cell Accuracy: {mean_cell_acc:.2f}")
else:
    print("No tables were able to be processed.")

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.6)
Table 1:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Table 2:
Structure Accuracy: 1.00
Row Accuracy: 0.33
Cell Accuracy: 0.50
----------------------------------------
Table 3:
Structure Accuracy: 0.00
Row Accuracy: 0.25
Cell Accuracy: 0.50
----------------------------------------
Table 4:
Structure Accuracy: 1.00
Row Accuracy: 0.67
Cell Accuracy: 0.62
----------------------------------------
Table 5:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Table 6:
Structure Accuracy: 0.00
Row Accuracy: 0.00
Cell Accuracy: 0.14
----------------------------------------
Table 7:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Table 8:
Structure Accuracy: 0.00
Row Accuracy: 0.75
Cell Accuracy: 0.78
----------------------------------------
Table 9:
Structure Accuracy: 0.00
Row Accuracy: 0.50
Cell Accuracy: 0.00
----------------------------------------
Table 10:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Mean Averages:
Mean Structure Accuracy: 0.60
Mean Row Accuracy: 0.65
Mean Cell Accuracy: 0.65

## Google Notebook LM

In [ ]:
!pip install beautifulsoup4

from bs4 import BeautifulSoup

def parse_html(html_content):
    """Parses HTML content and returns a BeautifulSoup object."""
    return BeautifulSoup(html_content, 'html.parser')

def compare_tables(model_html, ground_truth_html):
    """Compares the structure and content of tables in two HTML documents."""
    model_soup = parse_html(model_html)
    gt_soup = parse_html(ground_truth_html)

    model_tables = model_soup.find_all('table')
    gt_tables = gt_soup.find_all('table')

    total_tables = len(gt_tables)
    correct_tables = 0
    correct_rows = 0
    correct_cells = 0
    total_rows = 0
    total_cells = 0

    for i in range(min(len(model_tables), len(gt_tables))):
        model_table = model_tables[i]
        gt_table = gt_tables[i]

        model_rows = model_table.find_all('tr')
        gt_rows = gt_table.find_all('tr')

        if len(model_rows) == len(gt_rows):
            correct_tables += 1

        total_rows += len(gt_rows)

        for j in range(min(len(model_rows), len(gt_rows))):
            model_row = model_rows[j]
            gt_row = gt_rows[j]

            model_cells = model_row.find_all(['td', 'th'])
            gt_cells = gt_row.find_all(['td', 'th'])

            if len(model_cells) == len(gt_cells):
                correct_rows += 1

            total_cells += len(gt_cells)

            for k in range(min(len(model_cells), len(gt_cells))):
                if model_cells[k].get_text(strip=True) == gt_cells[k].get_text(strip=True):
                    correct_cells += 1

    # Safeguard against division by zero in case there are no tables or rows
    structure_accuracy = correct_tables / total_tables if total_tables > 0 else 0
    row_accuracy = correct_rows / total_rows if total_rows > 0 else 0
    cell_accuracy = correct_cells / total_cells if total_cells > 0 else 0

    return structure_accuracy, row_accuracy, cell_accuracy

# List of Ground Truth HTMLs
ground_truth_htmls = [
    #Table 1
    """<table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    #Table 2
    """
    <table border="1">
      <tr><th>Name</th><th colspan="2">Details</th></tr>
      <tr><td>John</td><td>Age: 30</td><td>Country: USA</td></tr>
      <tr><td>Jane</td><td>Age: 25</td><td>Country: Canada</td></tr>
    </table>
    """,
    # Table 3
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Details</th></tr>
      <tr>
        <td>John</td><td>30</td>
        <td>
          <table border="1">
            <tr><td>Country</td><td>USA</td></tr>
            <tr><td>City</td><td>New York</td></tr>
          </table>
        </td>
      </tr>
    </table>
    """,
    # Table 4
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 5
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td></td><td>Canada</td></tr>
    </table>
    """,
    # Table 6
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th colspan="2">Details</th></tr>
      <tr><td>Age</td><td>Country</td></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 7
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th><th>Occupation</th><th>Salary</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td><td>Engineer</td><td>$100,000</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td><td>Doctor</td><td>$150,000</td></tr>
      <tr><td>Tom</td><td>40</td><td>UK</td><td>Teacher</td><td>$50,000</td></tr>
    </table>
    """ ,
    # Table 8
    """
    <table border="1">
      <tr><th>Item</th><th>Description</th><th>Price</th></tr>
      <tr><td>Apple</td><td>Fresh red apple</td><td>$1</td></tr>
      <tr><td rowspan="2">Banana</td><td>Yellow banana</td><td>$0.5</td></tr>
      <tr><td>Green banana</td><td>$0.6</td></tr>
    </table>
    """ ,
    # Table 9
    """
    <table border="1">
      <tr><th colspan="3">Personal Information</th></tr>
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """ ,
    # Table 10
    """
    <table border="1">
      <tr><th>Name</th><td>John</td></tr>
      <tr><th>Age</th><td>30</td></tr>
      <tr><th>Country</th><td>USA</td></tr>
    </table>
    """
]

# List of Model HTMLs
model_htmls = [
    # Table 1
    """<table><tr><th>Name</th><th>Age</th><th>Country</th></tr><tr><td>John</td><td>25</td><td>Canada</td></tr><tr><td>Jane</td><td>25</td><td>Canada</td></tr></table>""",
    # Table 2
    """<table>
  <tr>
    <th>Name</th>
    <th colspan="2">Details</th>
  </tr>
  <tr>
    <th></th>
    <th>Age:</th>
    <th>Country:</th>
  </tr>
  <tr>
    <td>Jane</td>
    <td>25</td>
    <td>Canada</td>
  </tr>
</table>""",
    # Table 3
    """<table>
  <tr>
    <th>Name</th>
    <td>John</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>30</td>
  </tr>
  <tr>
    <th>Country</th>
    <td>USA</td>
  </tr>
  <tr>
    <th>City</th>
    <td>New York</td>
  </tr>
</table>""",
    # Table 4
    """<table>
  <tr>
    <th>Name</th>
    <td>Jane</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>25</td>
  </tr>
  <tr>
    <th>Country</th>
    <td>Canada</td>
  </tr>
</table>""",
    # Table 5
    """<table>
  <tr>
    <th>Name</th>
    <td>Jane</td>
  </tr>
  <tr>
    <th>Country</th>
    <td>Canada</td>
  </tr>
</table>""",
    # Table 6
    """<table>
  <tr>
    <td>John</td> <td>30</td> <td>USA</td>
  </tr>
  <tr>
    <td>Jane</td> <td>25</td> <td>Canada</td>
  </tr>
</table>""",
    # Table 7
    """<table>
  <tr>
    <td>Jane</td> <td>25</td> <td>Canada</td> <td>Doctor</td> <td>$150,000</td>
  </tr>
  <tr>
    <td>Tom</td> <td>40</td> <td>UK</td> <td>Teacher</td> <td>$50,000</td>
  </tr>
</table>""",
    # Table 8
    """<table>
  <tr>
    <th>Banana Yellow</th>
    <td>banana $0.5</td>
  </tr>
  <tr>
    <th>Green</th>
    <td>banana $0.6</td>
  </tr>
</table>""",
    # Table 9
    """<table>
  <tr>
    <th>Name</th> <td>John</td>
    <th>Age</th> <td>30</td>
    <th>Country</th> <td>USA</td>
  </tr>
  <tr>
    <th>Name</th> <td>Jane</td>
    <th>Age</th> <td>25</td>
    <th>Country</th> <td>Canada</td>
  </tr>
</table>""",
    # Table 10
    """<table>
  <tr>
    <th>Country</th>
    <td>USA</td>
  </tr>
</table>"""
]

# Debugging issues: Ensure that the lengths of ground_truth_htmls and model_htmls are equal
assert len(ground_truth_htmls) == len(model_htmls), "Mismatch in the number of ground truth and model HTMLs."

# Lists to store accuracy values
structure_accuracies = []
row_accuracies = []
cell_accuracies = []


# Iterate over each pair of ground truth and model output
for i in range(len(ground_truth_htmls)):
    structure_acc, row_acc, cell_acc = compare_tables(model_htmls[i], ground_truth_htmls[i])
    print(f"Table {i+1}:")
    print(f"Structure Accuracy: {structure_acc:.2f}")
    print(f"Row Accuracy: {row_acc:.2f}")
    print(f"Cell Accuracy: {cell_acc:.2f}")
    print("-" * 40)

    structure_accuracies.append(structure_acc)
    row_accuracies.append(row_acc)
    cell_accuracies.append(cell_acc)

# Calculate mean averages
if structure_accuracies:
    mean_structure_acc = sum(structure_accuracies) / len(structure_accuracies)
    mean_row_acc = sum(row_accuracies) / len(row_accuracies)
    mean_cell_acc = sum(cell_accuracies) / len(cell_accuracies)

    # Print mean averages
    print("Mean Averages:")
    print(f"Mean Structure Accuracy: {mean_structure_acc:.2f}")
    print(f"Mean Row Accuracy: {mean_row_acc:.2f}")
    print(f"Mean Cell Accuracy: {mean_cell_acc:.2f}")
else:
    print("No tables were able to be processed.")

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.6)
Table 1:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 0.78
----------------------------------------
Table 2:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 0.38
----------------------------------------
Table 3:
Structure Accuracy: 0.50
Row Accuracy: 0.50
Cell Accuracy: 0.43
----------------------------------------
Table 4:
Structure Accuracy: 1.00
Row Accuracy: 0.33
Cell Accuracy: 0.12
----------------------------------------
Table 5:
Structure Accuracy: 0.00
Row Accuracy: 0.00
Cell Accuracy: 0.17
----------------------------------------
Table 6:
Structure Accuracy: 0.00
Row Accuracy: 0.00
Cell Accuracy: 0.00
----------------------------------------
Table 7:
Structure Accuracy: 0.00
Row Accuracy: 0.50
Cell Accuracy: 0.00
----------------------------------------
Table 8:
Structure Accuracy: 0.00
Row Accuracy: 0.00
Cell Accuracy: 0.00
----------------------------------------
Table 9:
Structure Accuracy: 0.00
Row Accuracy: 0.00
Cell Accuracy: 0.25
----------------------------------------
Table 10:
Structure Accuracy: 0.00
Row Accuracy: 0.33
Cell Accuracy: 0.00
----------------------------------------
Mean Averages:
Mean Structure Accuracy: 0.35
Mean Row Accuracy: 0.37
Mean Cell Accuracy: 0.21

## ChatGPT

In [ ]:
from bs4 import BeautifulSoup

def parse_html(html_content):
    """Parses HTML content and returns a BeautifulSoup object."""
    return BeautifulSoup(html_content, 'html.parser')

def compare_tables(model_html, ground_truth_html):
    """Compares the structure and content of tables in two HTML documents."""
    model_soup = parse_html(model_html)
    gt_soup = parse_html(ground_truth_html)

    model_tables = model_soup.find_all('table')
    gt_tables = gt_soup.find_all('table')

    total_tables = len(gt_tables)
    correct_tables = 0
    correct_rows = 0
    correct_cells = 0
    total_rows = 0
    total_cells = 0

    for i in range(min(len(model_tables), len(gt_tables))):
        model_table = model_tables[i]
        gt_table = gt_tables[i]

        model_rows = model_table.find_all('tr')
        gt_rows = gt_table.find_all('tr')

        if len(model_rows) == len(gt_rows):
            correct_tables += 1

        total_rows += len(gt_rows)

        for j in range(min(len(model_rows), len(gt_rows))):
            model_row = model_rows[j]
            gt_row = gt_rows[j]

            model_cells = model_row.find_all(['td', 'th'])
            gt_cells = gt_row.find_all(['td', 'th'])

            if len(model_cells) == len(gt_cells):
                correct_rows += 1

            total_cells += len(gt_cells)

            for k in range(min(len(model_cells), len(gt_cells))):
                if model_cells[k].get_text(strip=True) == gt_cells[k].get_text(strip=True):
                    correct_cells += 1

    # Safeguard against division by zero in case there are no tables or rows
    structure_accuracy = correct_tables / total_tables if total_tables > 0 else 0
    row_accuracy = correct_rows / total_rows if total_rows > 0 else 0
    cell_accuracy = correct_cells / total_cells if total_cells > 0 else 0

    return structure_accuracy, row_accuracy, cell_accuracy

# List of Ground Truth HTMLs
ground_truth_htmls = [
    #Table 1
    """<table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    #Table 2
    """
    <table border="1">
      <tr><th>Name</th><th colspan="2">Details</th></tr>
      <tr><td>John</td><td>Age: 30</td><td>Country: USA</td></tr>
      <tr><td>Jane</td><td>Age: 25</td><td>Country: Canada</td></tr>
    </table>
    """,
    # Table 3
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Details</th></tr>
      <tr>
        <td>John</td><td>30</td>
        <td>
          <table border="1">
            <tr><td>Country</td><td>USA</td></tr>
            <tr><td>City</td><td>New York</td></tr>
          </table>
        </td>
      </tr>
    </table>
    """,
    # Table 4
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 5
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td></td><td>Canada</td></tr>
    </table>
    """,
    # Table 6
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th colspan="2">Details</th></tr>
      <tr><td>Age</td><td>Country</td></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 7
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th><th>Occupation</th><th>Salary</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td><td>Engineer</td><td>$100,000</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td><td>Doctor</td><td>$150,000</td></tr>
      <tr><td>Tom</td><td>40</td><td>UK</td><td>Teacher</td><td>$50,000</td></tr>
    </table>
    """ ,
    # Table 8
    """
    <table border="1">
      <tr><th>Item</th><th>Description</th><th>Price</th></tr>
      <tr><td>Apple</td><td>Fresh red apple</td><td>$1</td></tr>
      <tr><td rowspan="2">Banana</td><td>Yellow banana</td><td>$0.5</td></tr>
      <tr><td>Green banana</td><td>$0.6</td></tr>
    </table>
    """ ,
    # Table 9
    """
    <table border="1">
      <tr><th colspan="3">Personal Information</th></tr>
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """ ,
    # Table 10
    """
    <table border="1">
      <tr><th>Name</th><td>John</td></tr>
      <tr><th>Age</th><td>30</td></tr>
      <tr><th>Country</th><td>USA</td></tr>
    </table>
    """
]

# List of Model HTMLs
model_htmls = [
    # Table 1
    """<table border="1">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>John</td>
    <td>30</td>
    <td>USA</td>
  </tr>
  <tr>
    <td>Jane</td>
    <td>25</td>
    <td>Canada</td>
  </tr>
</table>""",
    # Table 2
    """<table border="1">
  <tr>
    <th colspan="2">Name</th>
    <th>Details</th>
  </tr>
  <tr>
    <td rowspan="2">John</td>
    <td>Age:</td>
    <td>30</td>
  </tr>
  <tr>
    <td>Country:</td>
    <td>USA</td>
  </tr>
  <tr>
    <td rowspan="2">Jane</td>
    <td>Age:</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Country:</td>
    <td>Canada</td>
  </tr>
</table>""",
    # Table 3
    """<table border="1">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>John</td>
    <td>30</td>
    <td>
      <table border="0">
        <tr>
          <td>Country:</td>
          <td>USA</td>
        </tr>
        <tr>
          <td>City:</td>
          <td>New York</td>
        </tr>
      </table>
    </td>
  </tr>
</table>""",
    # Table 4
    """<table border="1">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Country</th>
  </tr>
  <tr>
    <td rowspan="2">John</td>
    <td>30</td>
    <td>USA</td>
  </tr>
  <tr>
    <td>25</td>
    <td>Canada</td>
  </tr>
</table>""",
    # Table 5
    """<table border="1">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>John</td>
    <td>30</td>
    <td>USA</td>
  </tr>
  <tr>
    <td>Jane</td>
    <td></td>
    <td>Canada</td>
  </tr>
</table>""",
    # Table 6
    """<table border="1">
  <tr>
    <th rowspan="2">Name</th>
    <th colspan="2">Details</th>
  </tr>
  <tr>
    <th>Age</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>John</td>
    <td>30</td>
    <td>USA</td>
  </tr>
  <tr>
    <td>Jane</td>
    <td>25</td>
    <td>Canada</td>
  </tr>
</table>""",
    # Table 7
    """<table border="1">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Country</th>
    <th>Occupation</th>
    <th>Salary</th>
  </tr>
  <tr>
    <td>John</td>
    <td>30</td>
    <td>USA</td>
    <td>Engineer</td>
    <td>$100,000</td>
  </tr>
  <tr>
    <td>Jane</td>
    <td>25</td>
    <td>Canada</td>
    <td>Doctor</td>
    <td>$150,000</td>
  </tr>
  <tr>
    <td>Tom</td>
    <td>40</td>
    <td>UK</td>
    <td>Teacher</td>
    <td>$50,000</td>
  </tr>
</table>""",
    # Table 8
    """<table border="1">
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Apple</td>
    <td>Fresh red apple</td>
    <td>$1</td>
  </tr>
  <tr>
    <td rowspan="2">Banana</td>
    <td>Yellow banana</td>
    <td>$0.5</td>
  </tr>
  <tr>
    <td>Green banana</td>
    <td>$0.6</td>
  </tr>
</table>""",
    # Table 9
    """<table border="1">
  <tr>
    <th colspan="3">Personal Information</th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>John</td>
    <td>30</td>
    <td>USA</td>
  </tr>
  <tr>
    <td>Jane</td>
    <td>25</td>
    <td>Canada</td>
  </tr>
</table>""",
    # Table 10
    """<table border="1">
  <tr>
    <th>Name</th>
    <td>John</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>30</td>
  </tr>
  <tr>
    <th>Country</th>
    <td>USA</td>
  </tr>
</table>"""
]

# Debugging issues: Ensure that the lengths of ground_truth_htmls and model_htmls are equal
assert len(ground_truth_htmls) == len(model_htmls), "Mismatch in the number of ground truth and model HTMLs."

# Lists to store accuracy values
structure_accuracies = []
row_accuracies = []
cell_accuracies = []


# Iterate over each pair of ground truth and model output
for i in range(len(ground_truth_htmls)):
    structure_acc, row_acc, cell_acc = compare_tables(model_htmls[i], ground_truth_htmls[i])
    print(f"Table {i+1}:")
    print(f"Structure Accuracy: {structure_acc:.2f}")
    print(f"Row Accuracy: {row_acc:.2f}")
    print(f"Cell Accuracy: {cell_acc:.2f}")
    print("-" * 40)

    structure_accuracies.append(structure_acc)
    row_accuracies.append(row_acc)
    cell_accuracies.append(cell_acc)

# Calculate mean averages
if structure_accuracies:
    mean_structure_acc = sum(structure_accuracies) / len(structure_accuracies)
    mean_row_acc = sum(row_accuracies) / len(row_accuracies)
    mean_cell_acc = sum(cell_accuracies) / len(cell_accuracies)

    # Print mean averages
    print("Mean Averages:")
    print(f"Mean Structure Accuracy: {mean_structure_acc:.2f}")
    print(f"Mean Row Accuracy: {mean_row_acc:.2f}")
    print(f"Mean Cell Accuracy: {mean_cell_acc:.2f}")
else:
    print("No tables were able to be processed.")

Table 1:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Table 2:
Structure Accuracy: 0.00
Row Accuracy: 0.67
Cell Accuracy: 0.38
----------------------------------------
Table 3:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 0.61
----------------------------------------
Table 4:
Structure Accuracy: 1.00
Row Accuracy: 0.33
Cell Accuracy: 0.38
----------------------------------------
Table 5:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Table 6:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Table 7:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Table 8:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Table 9:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Table 10:
Structure Accuracy: 1.00
Row Accuracy: 1.00
Cell Accuracy: 1.00
----------------------------------------
Mean Averages:
Mean Structure Accuracy: 0.90
Mean Row Accuracy: 0.90
Mean Cell Accuracy: 0.84

## Test Model

In [ ]:
from bs4 import BeautifulSoup

def parse_html(html_content):
    """Parses HTML content and returns a BeautifulSoup object."""
    return BeautifulSoup(html_content, 'html.parser')

def compare_tables(model_html, ground_truth_html):
    """Compares the structure and content of tables in two HTML documents."""
    model_soup = parse_html(model_html)
    gt_soup = parse_html(ground_truth_html)

    model_tables = model_soup.find_all('table')
    gt_tables = gt_soup.find_all('table')

    total_tables = len(gt_tables)
    correct_tables = 0
    correct_rows = 0
    correct_cells = 0
    total_rows = 0
    total_cells = 0

    for i in range(min(len(model_tables), len(gt_tables))):
        model_table = model_tables[i]
        gt_table = gt_tables[i]

        model_rows = model_table.find_all('tr')
        gt_rows = gt_table.find_all('tr')

        if len(model_rows) == len(gt_rows):
            correct_tables += 1

        total_rows += len(gt_rows)

        for j in range(min(len(model_rows), len(gt_rows))):
            model_row = model_rows[j]
            gt_row = gt_rows[j]

            model_cells = model_row.find_all(['td', 'th'])
            gt_cells = gt_row.find_all(['td', 'th'])

            if len(model_cells) == len(gt_cells):
                correct_rows += 1

            total_cells += len(gt_cells)

            for k in range(min(len(model_cells), len(gt_cells))):
                if model_cells[k].get_text(strip=True) == gt_cells[k].get_text(strip=True):
                    correct_cells += 1

    # Safeguard against division by zero in case there are no tables or rows
    structure_accuracy = correct_tables / total_tables if total_tables > 0 else 0
    row_accuracy = correct_rows / total_rows if total_rows > 0 else 0
    cell_accuracy = correct_cells / total_cells if total_cells > 0 else 0

    return structure_accuracy, row_accuracy, cell_accuracy

# List of Ground Truth HTMLs
ground_truth_htmls = [
    #Table 1
    """<table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    #Table 2
    """
    <table border="1">
      <tr><th>Name</th><th colspan="2">Details</th></tr>
      <tr><td>John</td><td>Age: 30</td><td>Country: USA</td></tr>
      <tr><td>Jane</td><td>Age: 25</td><td>Country: Canada</td></tr>
    </table>
    """,
    # Table 3
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Details</th></tr>
      <tr>
        <td>John</td><td>30</td>
        <td>
          <table border="1">
            <tr><td>Country</td><td>USA</td></tr>
            <tr><td>City</td><td>New York</td></tr>
          </table>
        </td>
      </tr>
    </table>
    """,
    # Table 4
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 5
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td></td><td>Canada</td></tr>
    </table>
    """,
    # Table 6
    """
    <table border="1">
      <tr><th rowspan="2">Name</th><th colspan="2">Details</th></tr>
      <tr><td>Age</td><td>Country</td></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """,
    # Table 7
    """
    <table border="1">
      <tr><th>Name</th><th>Age</th><th>Country</th><th>Occupation</th><th>Salary</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td><td>Engineer</td><td>$100,000</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td><td>Doctor</td><td>$150,000</td></tr>
      <tr><td>Tom</td><td>40</td><td>UK</td><td>Teacher</td><td>$50,000</td></tr>
    </table>
    """ ,
    # Table 8
    """
    <table border="1">
      <tr><th>Item</th><th>Description</th><th>Price</th></tr>
      <tr><td>Apple</td><td>Fresh red apple</td><td>$1</td></tr>
      <tr><td rowspan="2">Banana</td><td>Yellow banana</td><td>$0.5</td></tr>
      <tr><td>Green banana</td><td>$0.6</td></tr>
    </table>
    """ ,
    # Table 9
    """
    <table border="1">
      <tr><th colspan="3">Personal Information</th></tr>
      <tr><th>Name</th><th>Age</th><th>Country</th></tr>
      <tr><td>John</td><td>30</td><td>USA</td></tr>
      <tr><td>Jane</td><td>25</td><td>Canada</td></tr>
    </table>
    """ ,
    # Table 10
    """
    <table border="1">
      <tr><th>Name</th><td>John</td></tr>
      <tr><th>Age</th><td>30</td></tr>
      <tr><th>Country</th><td>USA</td></tr>
    </table>
    """
]

# List of Model HTMLs
model_htmls = [
    # Table 1
    """""",
    # Table 2
    """""",
    # Table 3
    """""",
    # Table 4
    """""",
    # Table 5
    """""",
    # Table 6
    """""",
    # Table 7
    """""",
    # Table 8
    """""",
    # Table 9
    """""",
    # Table 10
    """"""
]

# Debugging issues: Ensure that the lengths of ground_truth_htmls and model_htmls are equal
assert len(ground_truth_htmls) == len(model_htmls), "Mismatch in the number of ground truth and model HTMLs."

# Lists to store accuracy values
structure_accuracies = []
row_accuracies = []
cell_accuracies = []


# Iterate over each pair of ground truth and model output
for i in range(len(ground_truth_htmls)):
    structure_acc, row_acc, cell_acc = compare_tables(model_htmls[i], ground_truth_htmls[i])
    print(f"Table {i+1}:")
    print(f"Structure Accuracy: {structure_acc:.2f}")
    print(f"Row Accuracy: {row_acc:.2f}")
    print(f"Cell Accuracy: {cell_acc:.2f}")
    print("-" * 40)

    structure_accuracies.append(structure_acc)
    row_accuracies.append(row_acc)
    cell_accuracies.append(cell_acc)

# Calculate mean averages
if structure_accuracies:
    mean_structure_acc = sum(structure_accuracies) / len(structure_accuracies)
    mean_row_acc = sum(row_accuracies) / len(row_accuracies)
    mean_cell_acc = sum(cell_accuracies) / len(cell_accuracies)

    # Print mean averages
    print("Mean Averages:")
    print(f"Mean Structure Accuracy: {mean_structure_acc:.2f}")
    print(f"Mean Row Accuracy: {mean_row_acc:.2f}")
    print(f"Mean Cell Accuracy: {mean_cell_acc:.2f}")
else:
    print("No tables were able to be processed.")